
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

<script language="javascript">
<!--
$(document).ready(function()
{
    $(".defaultText").focus(function(srcc)
    {
        if ($(this).val() == $(this)[0].title)
        {
            $(this).removeClass("defaultTextActive");
            $(this).val("");
        }
    });
    
    $(".defaultText").blur(function()
    {
        if ($(this).val() == "")
        {
            $(this).addClass("defaultTextActive");
            $(this).val($(this)[0].title);
        }
    });
    
    $(".defaultText").blur();        
});
//-->
</script>

<div id="page-wrap">

<h1>I'd Like To See</h1>

            <div id="control">

			<%= render 'form' %>
			
			
<% @movies.each do |movie| %>

<ul id="list">
   <li class="colorRed">
        <span><%= movie.title %><div id="cuevana"><a href="<%= movie.cuevana %>">Cuevana</a></div></span>
        <div class="deletetab tab"><%= button_to 'Seen', movie, :class => 'buttonSeen', :method => :delete %></div>
    </li>
</ul>



<br />

<% end %>

</div>
</div>