BODY
{
	background-color: #1E2428;
	font-family: Verdana, Helvetica, Arial;
	font-size: 0.84em;
}
UL#list LI SPAN INPUT[style]
{
	width: 90% !important;
}
#movie_title
{
	width: 74%;
	float: left;
	margin: 0 10px 0 66px;
	height: 35px;
	font-size: 23px;
}
#movie_title:focus
{
	border-color: #73B8BF;
}
.button:hover
{
	background-position: bottom left;
}
.button
{
	background: url(/images/button-bg.png) repeat-x;
	-moz-border-radius: 5px;
	padding: 6px 12px;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	text-shadow: 0 1px 1px #666;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px #999;
	font: bold 16px Helvetica;
}
#movie_submit
{
	padding: 10px 12px;
}
A
{
	color: #3838FE;
	text-decoration: none;
	outline: none;
}
#cuevana
{
	display: inline;
}
#cuevana
{
	display: inline;
	margin-left: 2%;
	border-bottom: thin dotted #3737F5;
}
.clear
{
	clear: both;
	height: 0;
	overflow: hidden;
}
#container
{
	width: 64%;
	margin: 20px auto;
	background-color: #FFF;
	padding: 20px 40px;
	border: 1px solid #000000;
	position: relative;
}
#page-wrap
{
	width: 100%;
	margin: 6px auto 10px;
	position: relative;
}
.defaultText
{
	width: 300px;
}
.defaultTextActive
{
	color: #A1A1A1;
}
H1
{
	margin: 9px 0 10px;
	text-indent: 66px;
	font: normal bold 44px/1.2em Helvetica, Arial, sans-serif;
	letter-spacing: -2px;
}
#list LI
{
	position: relative;
	margin: 0 0 -35px -20px;
	padding: 0 0 0 45px;
	width: 90%;
	list-style: none;
}
#list LI SPAN
{
	padding: 8px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: block;
	position: relative;
	float: none;
}
A IMG
{
	display: none;
}
#title
{
	display: inline;
	margin-right: 2%;
	margin-left: 2%;
}
#year
{
	display: inline;
}
.colorBlue SPAN
{
	background: rgb(115, 184, 191);
}
.colorYellow SPAN
{
	background: rgb(255, 255, 255);
}
.colorRed SPAN
{
	background: rgb(213, 221, 230);
	color: #000000;
}
.colorGreen SPAN
{
	background: rgb(145, 191, 75);
}
.tab
{
	height: 21px;
	top: 4px;
}
.deletetab
{
	position: absolute;
	right: 45px;
	width: 15px;
	background-position: -82px 0;
	cursor: pointer;
	top: 8px;
}
.deletetab:hover
{
	background-position: -82px -21px;
}
.buttonSeen
{
	-moz-border-radius: 10px;
	padding: 1px 5px 1px 4px;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	text-shadow: 0 1px 1px #666;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 0 1px 3px #999;
	font: bold 16px Helvetica;
	background: url(/images/button-bg.png) repeat-x;
	margin: -4px 0 0;
}
.crossout
{
	position: absolute;
	top: 50%;
	left: 0;
	height: 1px;
}
#control
{
	width: 100%;
	padding: 10px 0 0;
	text-align: left;
}
#aviso
{
	font: italic 0.7em Helvetica, Arial, sans-serif;
	margin: 2px 0 30px 66px;
}
.pagination
{
	margin: 40px 0 0;
	text-align: center;
}
.red
{
	background: #FF0000;
	color: #FFFFFF;
	font-size: 12px;
	padding: 3px;
}
#flash_notice, #flash_error, #flash_alert
{
	padding: 5px 8px;
	margin: 10px 0;
}
#flash_notice
{
	background-color: #CFC;
	border: 1px solid #6C6;
}
#flash_error, #flash_alert
{
	background-color: #FCC;
	border: 1px solid #C66;
}
.fieldWithErrors
{
	display: inline;
}
.error_messages
{
	width: 400px;
	border: 2px solid #CF0000;
	padding: 0px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #F0F0F0;
	font-size: 12px;
}
.error_messages H2
{
	text-align: left;
	font-weight: bold;
	padding: 5px 10px;
	font-size: 12px;
	margin: 0;
	background-color: #C00;
	color: #FFF;
}
.error_messages P
{
	margin: 8px 10px;
}
.error_messages UL
{
	margin: 0;
}
HR
{
	height: 1px;
	background: #CCC;
	clear: both;
	margin: 20px 0;
	border: none;
	display: block;
}
.resize
{
	width: auto;
	height: 32px;
}
